SHELL=/bin/bash
BASH_ENV=/container.env
# prevent from cronjobs outputs to be sent to the local mail
MAILTO=""
# add common executables to the PATH, as some systems don't support 
# commands such as service, which are located in non-default paths (e.g /usr/sbin, RHEL 7)
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin:/app/bin

# m h  dom mon dow   command

# update_entities runs every two minutes
*/2 * * * * root manage update_entities > /var/log/infinimetrics/cron/update_entities.log 2>&1

# collect_top runs hourly
0 * * * * root manage collect_top > /var/log/infinimetrics/cron/collect_top.log 2>&1

# hearbeat should run before winnow, otherwise it might not find the data it's looking for
45 1 * * * root manage heartbeat > /var/log/infinimetrics/cron/heartbeat.log 2>&1

# winnow runs on the 1st of each month
30 2 1 * * root manage winnow > /var/log/infinimetrics/cron/winnow.log 2>&1

# daily cleanup of django sessions
0 4 * * * root manage clearsessions

# daily check for new version. Sleep for a random time before (up to 1 hour) to distribute requests.
0 5 * * * root sleep "$(( RANDOM \% 3600 ))"; manage check_for_version_update > /var/log/infinimetrics/cron/check_for_version_update.log 2>&1 

# send data to ramen every 7-8 minutes
0,7,15,22,30,37,45,52 * * * * root manage send_data_to_ramen > /var/log/infinimetrics/cron/send_data_to_ramen.log 2>&1

# send monitored entities to ramen in full once per day
55 3 * * * root manage send_data_to_ramen --all > /var/log/infinimetrics/cron/send_data_to_ramen_all.log 2>&1

# send entities to ramen every 15 minutes
2,17,32,47 * * * * root manage send_entities_to_ramen > /var/log/infinimetrics/cron/send_entities_to_ramen.log 2>&1

# send entities to ramen in full once per day
55 2 * * * root manage send_entities_to_ramen --all > /var/log/infinimetrics/cron/send_entities_to_ramen_all.log 2>&1

# Notify about low disk space as we have in monit
0 */1 * * * root manage monitor_disk_space > /var/log/infinimetrics/cron/monitor_disk_space.log 2>&1
